/.idea/dictionaries/korra.xml
/uploads/ConnorWall_Portfolio/Digital_Illustration/Escuela Amigos School Official Mascot/.Newsletters.pdf.icloud
/uploads/ConnorWall_Portfolio/Game_Design/Roboleon/DADIU_2022_Team3_Roboleon__Poster.png
/uploads/ConnorWall_Portfolio/Game_Design/Roboleon/DADIU_2022_Team3_Roboleon__Poster copy.png
/Gameplay-Video.mp4
/Gameplay-Video 2.mp4
/uploads/ConnorWall_Portfolio/Game_Design/Puppetshow/Puppet-Show-Gameplay-Video.mp4
/resumes/ConnorWall-CV-May2023.pdf
/uploads/ConnorWall_Portfolio/desktop.ini
/uploads/ConnorWall_Portfolio/Technical_Art/DemoReelDraft1.mov
/uploads/ConnorWall_Portfolio/Technical_Art/ConnorWall-DemoReel2025.mov
/uploads/ConnorWall_Portfolio/Game_Design/Omnivores_Rule/UIShowcase.mp4
/uploads/ConnorWall_Portfolio/Technical_Art/Echolocation/EcholocationWeather.webm
